<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ song.title }}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800 text-white">
  <div class="container mx-auto px-4 py-4">
    <h1 class="text-2xl font-bold mb-2 text-white">{{ song.title }}</h1>
    {% if song.artist %}
      <p class="text-gray-400 mb-4">By {{ song.artist }}</p>
    {% endif %}
    {% if song.album %}
      <p class="text-gray-400 mb-4">Album: {{ song.album }}</p>
    {% endif %}

    {% if song.song_file %}
      <audio controls class="w-full mb-4"> <source src="{{ song.song_file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    {% else %}
      <p class="text-gray-400">Song file not available.</p>
    {% endif %}
  </div>
</body>
</html>
